body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4893c2;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

nav {
    background-color: #333;
    color: #ffffff;
    padding: 10px 0;
    list-style: none;
    text-align: center;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;

}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.fooldal {
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: coral;
}

.kedvencek{
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: coral;
}

.jatekter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.filmek {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    
}

.filmek img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.filmek button {
    margin-top: 10px;
    padding: 8px 12px;
    cursor: pointer;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

.ara{
    font-weight: bold;
    color: #e74c3c;
    margin-top: 10px;
}

.leiras {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}
.film-kategoria {
    font-style: italic;
    background-color: #ff0000;
    margin-top: 5px;
}


@media (max-width: 768px) {
    .filmek {
        width: 45%; 
    }
}

@media (max-width: 480px) {
    .filmek {
        width: 90%; 
    }
    nav ul li {
        display: block;
        margin: 10px 0; 
    }
}